<%= form_with model: mail_setting, class: "flex gap-2" do |form| %>
  <div class="mt-2">
    <%= form.text_field :host, placeholder: "Host", class: "input" %>
    <%= mail_setting.errors[:host].first if mail_setting.errors.any? %>
  </div>
  <div class="mt-2">
    <%= form.text_field :username, placeholder: "Username", class: "input" %>
    <%= mail_setting.errors[:username].first if mail_setting.errors.any? %>
  </div>
  <div class="mt-2">
    <%= form.text_field :password, placeholder: "Password", class: "input" %>
    <%= mail_setting.errors[:password].first if mail_setting.errors.any? %>
  </div>
  <div class="mt-2">
    <%= form.number_field :port, placeholder: "Port", class: "input" %>
    <%= mail_setting.errors[:port].first if mail_setting.errors.any? %>
  </div>
  <div class="mt-2">
    <%= form.submit mail_setting.persisted? ? "Update" : "Save", class: "btn" %>
  </div>
<% end %>