<section>
  <div>
    <h2 class="text-xl">SMTP Settings</h2>
    <% if @mail_setting.nil? || params[:action] == "edit" || params[:action] == "create" %>
      <%= render "form", mail_setting: @new_mail_setting %>
    <% end %>
  </div>
  <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 mt-4">
    <% if @mail_setting&.persisted? %>
        <table class="table">
          <thead>
            <tr>
              <th>SMTP Host</th>
              <th>Username</th>
              <th>Password</th>
              <th>Port</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @mail_setting.host %></td>
              <td><%= @mail_setting.username %></td>
              <td>******</td>
              <td><%= @mail_setting.port %></td>
              <td class="flex gap-2">
                <%= link_to "Edit", edit_mail_setting_path(@mail_setting), class: "btn btn-secondary" %>
                <%= button_to "Delete", 
                    mail_setting_path(@mail_setting), 
                    method: :delete, 
                    data: { turbo_confirm: "Are you sure you want to delete your SMTP settings?" },
                    class: "btn btn-error" %>
              </td>
            </tr>
          </tbody>
        </table>
    <% end %>
  </div>
</section>