<h1 class="font-sans text-xl">Dashboard</h1>
<section class="grid grid-cols-4 gap-2 mt-4">
  <div class="border-2 border-link-water rounded-lg p-2 text-center">
    <%= link_to campaigns_path do %>
      <h1 class="text-xl">Total Campaign</h1>
      <%= @campaign_count %>
    <% end %>
  </div>

  <div class="border-2 border-link-water rounded-lg p-2 text-center">
    <h1 class="text-xl">Total Subscribers</h1>
    <%= @total_subscribers %>
  </div>

  <div class="border-2 border-link-water rounded-lg p-2 text-center">
    <h1 class="text-xl">Campaign Scheduled</h1>
    <%= "0" %>
  </div>

  <div class="border-2 border-link-water rounded-lg p-2 text-center">
    <h1 class="text-xl">Campaign Running</h1>
    <%= "0" %>
  </div>
</section>

