<% content_for(:title, "Sign in")%>
<section class="max-w-md mx-auto lg:mt-16">
  <div class="fieldset border border-base-300 rounded-box p-8">
    <h1 class="text-xl font-bold leading-tight tracking-tight">
        Sign in to your account
    </h1>
    <%= form_with url: session_path do |form| %>
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Email Address</legend>
        <%= form.email_field :email_address, required: true, autofocus: true, placeholder: "Enter your email address", value: params[:email_address], class: "input" %>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Password</legend>
        <%= form.password_field :password, required: true, placeholder: "Enter your password", maxlength: 72, class: "input" %>
      </fieldset>

      <div class="flex items-center mb-2">
        <%= link_to "Forgot password?", new_password_path, class: "link link-secondary" %>
      </div>

      <%= form.submit "Sign in", class: "btn btn-neutral" %>
    <% end %>

    <p class="text-sm">
        Don’t have an account yet? <%= link_to "Register", new_registration_path, class: "link link-neutral" %>
    </p>
  </div>
</section>





