<% content_for(:title, "Sign Up") %>
<section class="max-w-md mx-auto lg:mt-16">
  <div class="fieldset border border-base-300 rounded-box p-8">
    <h1 class="text-xl font-bold leading-tight tracking-tight">
        Create an account
    </h1>
    <%= form_with(model: @user, url: registration_path, local: true, data: { turbo: false }) do |form| %>
      <%= form.hidden_field :plan, value: params[:plan] %>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Email Address</legend>
        <%= form.email_field :email_address, required: true, autofocus: true, placeholder: "Enter your email address", value: params[:email_address], class: "input" %>
        <%= @user.errors[:email_address].first if @user.errors.any? %>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Password</legend>
        <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "input" %>
        <%= @user.errors[:password].first if @user.errors.any? %>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Confirm Password</legend>
        <%= form.password_field :password_confirmation, required: true, autocomplete: "current-password", placeholder: "Confirm password", maxlength: 72, class: "input" %>
        <%= @user.errors[:password_confirmation].first if @user.errors.any? %>
      </fieldset>
      
      <%= turnstile_tag %>
      
      <%= form.submit "Register", class: "btn btn-neutral" %>
    <% end %>
    <p class="text-sm ">
      Already have an account? <%= link_to "Login", new_session_path, class: "link link-neutral" %>
    </p>
  </div>
</section>