<section class="flex flex-col items-center justify-center p-20 h-96" id="home">
  <h1 class="text-5xl font-bold">Pay Only for Your Outreach</h1>
  <h5 class="text-2xl mt-4">Grow Your Audience Without Limits</h5>
  <p class="text-xl mt-4">Expand your audience effortlessly and pay only for the outreach you make—simple, transparent, and limitless growth</p>
  <%= link_to "Get started", "#pricing", class: "font-sans text-lg btn-getting mt-10 bg-prim p-4" %>    
</section>

<section class="grid grid-cols-3 mt-20" id="features">
  <div class="bg-prim p-3">
    <h5 class="text-xl my-3">Subscriber Widgets</h5>
    <p>Boost your audience effortlessly with sleek, customizable widgets that integrate seamlessly into any website. Attract and manage subscribers like never before.</p>
    <div class="mt-20">
      <%= image_tag("widget.png") %>
    </div>
  </div>
  <div class="bg-link-water p-3">
    <h5 class="text-xl my-3">Scalable Bulk Emailing</h5>
    <p>Reach thousands—or millions—of inboxes with confidence. Our powerful infrastructure ensures fast, reliable, and secure email delivery at any scale.</p>
    <%= image_tag("bulk_email.svg") %>
  </div>
  <div class="bg-lavender-gray p-3">
    <h5 class="text-xl my-3">Flexible Email Templates</h5>
    <p>Create emails that impress. Use your own designs or craft professional campaigns in minutes with our intuitive drag-and-drop editor.</p>
    <%= image_tag("drag.svg")%>
  </div>
</section>

<section id="pricing" class="p-6">
  <div>
    <h1 class="text-3xl text-center"><span class="bg-link-water p-2">Our Pricing Plan</span></h1>
  </div>
   <section class="flex items-center justify-center gap-2 mt-8">
    <div class="card w-96 border-2">
      <div class="card-body">
        <div class="flex justify-between">
          <h2 class="text-3xl font-black">Echo</h2>
          <span class="text-3xl font-black">$99</span>
        </div>
        <div class="flex justify-between">
          <h2></h2>
          <span class="font-light">one-time payment</span>
        </div>
        <ul class="mt-6 flex flex-col gap-4">
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">5 Websites</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">10 Email templates</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">Unlimited Subscribers</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">Unlimited Campaigns</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">Real-Time Analytics</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">Embeddable widget</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">Import from CSV</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">LifeTime Support</span>
          </li>
        </ul>
        <div class="mt-6">
          <%= link_to "Get started", new_registration_path(plan: "echo"), class: "btn-block font-medium text-xl btn-getting" %>
        </div>
      </div>
    </div>

    <div class="card w-96 bg-base-200 border-2 border-lavender-gray">
      <div class="card-body">
        <span class="absolute -mt-9 badge border-lavender-gray bg-lavender-gray">Most Popular</span>
        <div class="flex justify-between">
          <h2 class="text-3xl font-black">Whisper</h2>
          <span class="text-3xl font-black">$179</span>
        </div>
        <div class="flex justify-between">
          <h2></h2>
          <span class="font-light">one-time payment</span>
        </div>
        <ul class="mt-6 flex flex-col gap-4">
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-lavender-gray" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">10 Websites</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-lavender-gray" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">20 Email templates</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-lavender-gray" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">Unlimited Subscribers</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-lavender-gray" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">Unlimited Campaigns</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-lavender-gray" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">Real-Time Analytics</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-lavender-gray" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">Embeddable widget</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-lavender-gray" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">Import from CSV</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-lavender-gray" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">LifeTime Support</span>
          </li>
        </ul>
        
        <div class="mt-6">
          <%= link_to "Get started", new_registration_path(plan: "whisper"), class: "btn-block font-medium text-xl btn-getting bg-lavender-gray" %>
        </div>
        <div>
        </div>
      </div>
    </div>

    <div class="card w-96  border-2">
      <div class="card-body">
        <div class="flex justify-between">
          <h2 class="text-3xl font-black">Thunder</h2>
          <span class="text-3xl font-black">$399</span>
        </div>
        <div class="flex justify-between">
          <h2></h2>
          <span class="font-light">one-time payment</span>
        </div>
        <ul class="mt-6 flex flex-col gap-4">
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">Unlimited Websites</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">Unlimited Email templates</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">Unlimited Subscribers</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">Unlimited Campaigns</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">Real-Time Analytics</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">Embeddable widget</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">Import from CSV</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">LifeTime Support</span>
          </li>
        </ul>
        <div class="mt-6">
          <%= link_to "Get started", new_registration_path(plan: "thunder"), class: "btn-block font-medium text-xl btn-getting" %>
        </div>
      </div>
    </div>
  </section>
  <section class="flex items-center justify-center mt-2">
    <div class="card border-2 w-lg">
      <div class="card-body">
        <div class="flex justify-between">
          <h2 class="text-2xl font-black">Free</h2>
          <%= link_to "Get started", new_registration_path(plan: "free"), class: "font-medium btn-getting" %>
        </div>
        <ul class="grid grid-cols-2 gap-4">
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">1 Website</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">1 Email template</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">Unlimited Subscribers</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">2 Campaigns</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">Real-Time Analytics</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px]">Embeddable widget</span>
          </li>
          <li class="opacity-50">
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px] line-through">Import from CSV</span>
          </li>
          <li class="opacity-50">
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            <span class="text-[16px] line-through">LifeTime Support</span>
          </li>
        </ul>
      </div>
    </div>
  </section>

</section>

<section class="bg-prim h-64 flex flex-col items-center justify-center">
    <h1 class="font-sans text-3xl">Pay for impact. It’s the emails that matter.</h1>
    <%= link_to "Get started", "#pricing", class: "btn-getting bg-link-water mt-4 p-4" %>    
</section>

<section></section>

<footer class="p-4 bg-white mt-6">
    <div class="mx-auto max-w-(--breakpoint-xl)">
        <div class="flex justify-between">
            <div class="mb-0">
              <%= link_to root_path, class: "flex items-center" do %>
                <span class="self-center mt-3 font-logo text-2xl whitespace-nowrap">Piegon</span>
              <% end %>
              <div class="flex">
                <span class="mr-1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#E1D6DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
                </span>
                <a href="mailto:arif@piegon.pro">arif@piegon.pro</a>
              </div>
            </div>
            <div class="grid grid-cols-2 gap-8">
                <div>
                    <h2 class="mb-6 text-base font-semibold">Resources</h2>
                    <ul>
                        <li class="mb-4">
                          <%= link_to "FAQ", "#{help_path}#faq", class: "hover:underline" %>
                        </li>
                        <li>
                          <%= link_to "Contact Us", "#{help_path}#contact", class: "hover:underline" %>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-base font-semibold">Legal</h2>
                    <ul>
                        <li class="mb-4">
                          <%= link_to "Privacy Policy", privacy_policy_path , class: "hover:underline" %>
                        </li>
                        <li>
                          <%= link_to "Terms and Conditions", term_and_conditions_path, class: "hover:underline" %>                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200" />
        <div class="flex items-center justify-center">
            <span class="text-sm">© <%= Date.current.year %> <%= link_to "Piegon", root_path, class: "hover:underline" %>. All Rights Reserved.</span>
        </div>
    </div>
</footer>