<section class="flex flex-col items-center justify-center p-20 h-96" id="home">
  <h1 class="text-5xl font-bold">Pay Only for Your Outreach</h1>
  <h5 class="text-2xl mt-4">Grow Your Audience Without Limits</h5>
  <p class="text-xl mt-4">Expand your audience effortlessly and pay only for the outreach you make—simple, transparent, and limitless growth</p>
  <%= link_to "Get started", "#pricing", class: "font-sans text-lg btn-getting mt-10 bg-prim p-4" %>    
</section>

<section class="grid grid-cols-3 mt-20" id="features">
  <div class="bg-prim p-3">
    <h5 class="text-xl my-3">Subscriber Widgets</h5>
    <p>Boost your audience effortlessly with sleek, customizable widgets that integrate seamlessly into any website. Attract and manage subscribers like never before.</p>
    <div class="mt-20">
      <%= image_tag("widget.png") %>
    </div>
  </div>
  <div class="bg-link-water p-3">
    <h5 class="text-xl my-3">Scalable Bulk Emailing</h5>
    <p>Reach thousands—or millions—of inboxes with confidence. Our powerful infrastructure ensures fast, reliable, and secure email delivery at any scale.</p>
    <%= image_tag("bulk_email.svg") %>
  </div>
  <div class="bg-lavender-gray p-3">
    <h5 class="text-xl my-3">Flexible Email Templates</h5>
    <p>Create emails that impress. Use your own designs or craft professional campaigns in minutes with our intuitive drag-and-drop editor.</p>
    <%= image_tag("drag.svg")%>
  </div>
</section>

<section id="pricing" class="p-6">
  <div>
    <h1 class="text-3xl text-center"><span class="bg-link-water p-2">Our Pricing Plan</span></h1>
  </div>
  <div class="grid grid-cols-3 gap-4 p-4 h-96 mt-6">

    <div class="border-2 border-lavender-gray rounded-lg text-center">
      <div>
        <h1 class="font-logo text-2xl mt-4">Start</h1>
      </div>
      <div class="mt-5">
        <p class="text-lg font-medium">100 Subscriber</p>
        <p class="text-lg font-medium">1 Campaign</p>
        <p class="text-lg font-medium">Subscriber Form Widget</p>
        <p class="text-lg font-medium">Drag and Drop editor</p>
      </div>
      
      <div class="mt-5">
        <p class="font-bold text-xl m-2">Free</p>
        <%= link_to "Choose", new_registration_path(plan: "free"), class: "btn-getting bg-lavender-gray px-6 py-3" %>
      </div>
    </div>

    <div class="border-2 border-lavender-gray rounded-lg text-center" data-controller="pricing">
      <div class="flex items-center justify-center mt-2">
        <h1 class="text-2xl font-logo mt-3">Email per month:</h1>
        <select name="plan" id="plan" class="rounded-full ml-2"
          data-pricing-target="planSelect"
          data-action="change->pricing#updatePrice"
        >
          <option value="whisper" data-price="12">5000</option>
          <option value="echo" data-price="20">10000</option>
          <option value="resonance" data-price="60">30000</option>
          <option value="thunder" data-price="99">50000</option>
        </select>
      </div>
      <div class="mt-4">
        <p class="text-lg font-medium">Unlimited Subscribers</p>
        <p class="text-lg font-medium">Unlimited Campaigns</p>
        <p class="text-lg font-medium">Subscriber Form Widget</p>
        <p class="text-lg font-medium">Drag and Drop editor</p>
        <p class="text-lg font-medium">Custom domain/verified sender</p>
      </div>
      <div class="mt-5">
        <p class="text-xl font-bold m-2">$<span data-pricing-target="price">12</span> <span class="text-base font-normal bg-prim">per month</span></p>
        <%= link_to "Choose", new_registration_path(plan: "whisper"), 
        class: "btn-getting bg-prim px-6 py-3",
        data: { pricing_target: "planLink" } %>
      </div>
    </div>

    <div class="border-2 border-lavender-gray rounded-lg text-center">
      <div>
        <h1 class="font-logo text-2xl mt-4">LifeTime</h1>
      </div>
      <div class="mt-4">
        <p class="text-lg font-medium">Unlimited Subscribers</p>
        <p class="text-lg font-medium">Unlimited Campaigns</p>
        <p class="text-lg font-medium">Subscriber Form Widget</p>
        <p class="text-lg font-medium">Drag and Drop editor</p>
      </div>
      
      <div class="mt-5">
        <p class="font-bold text-xl m-2">$99 <span class="text-base font-normal bg-link-water">for once**</span></p>
        <%= link_to "Choose", new_registration_path(plan: "lifetime"), class: "btn-getting bg-link-water px-6 py-3" %>
      </div>
    </div>
  </div>
  <div>
    <p>* Emails @ 1000/$1.90</p>
    <p>** For lifetime plan, your can bring your own smtp/api settings</p>
  </div>
</section>

<section class="bg-prim h-64 flex flex-col items-center justify-center">
    <h1 class="font-sans text-3xl">Pay for impact. It’s the emails that matter.</h1>
    <%= link_to "Get started", "#pricing", class: "btn-getting bg-link-water mt-4 p-4" %>    
</section>

<section></section>

<footer class="p-4 bg-white mt-6">
    <div class="mx-auto max-w-screen-xl">
        <div class="flex justify-between">
            <div class="mb-0">
              <%= link_to root_path, class: "flex items-center" do %>
                <span class="self-center mt-3 font-logo text-2xl whitespace-nowrap">Piegon</span>
              <% end %>
              <div class="flex">
                <span class="mr-1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#E1D6DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
                </span>
                <a href="mailto:arif@piegon.pro">arif@piegon.pro</a>
              </div>
            </div>
            <div class="grid grid-cols-3 gap-8">
                <div>
                    <h2 class="mb-6 text-base font-semibold">Resources</h2>
                    <ul>
                        <li class="mb-4">
                          <%= link_to "FAQ", "#{help_path}#faq", class: "hover:underline" %>
                        </li>
                        <li>
                          <%= link_to "Contact Us", "#{help_path}#contact", class: "hover:underline" %>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-base font-semibold">Follow us</h2>
                    <ul>
                        <li class="mb-4">
                            <a href="#" class="hover:underline ">Twitter</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">Facebook</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-base font-semibold">Legal</h2>
                    <ul>
                        <li class="mb-4">
                          <%= link_to "Privacy Policy", privacy_policy_path , class: "hover:underline" %>
                        </li>
                        <li>
                          <%= link_to "Terms and Conditions", term_and_conditions_path, class: "hover:underline" %>                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200" />
        <div class="flex items-center justify-center">
            <span class="text-sm">© <%= Date.current.year %> <%= link_to "Piegon", root_path, class: "hover:underline" %>. All Rights Reserved.</span>
        </div>
    </div>
</footer>