<% if @contacts.any? %>
  <h1 class="text-xl mb-4">Contact Lists</h1>
    <div>
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Website URL</th>
          <th>Total Contacts</th>
          <th></th>
        </thead>
        <tbody>
            <% @contacts.each do |contact| %>
          <tr>
              <td><%= contact.name %></td>
              <td><%= contact.url %></td>
              <td>
                <% subscribed_count = contact.subscribers.where(unsubscribed: false).size %>
                <%= number_to_short(subscribed_count) %> <%= subscribed_count > 1 ? "contacts" : "contact" %>
              </td>
              <td class="flex gap-2">
                <%= link_to "View", contact_subscribers_path(contact), class: "btn btn-sm" %>
                <%= link_to "Edit", edit_contact_path(contact), class: "btn btn-sm btn-neutral" %>
                <%= button_to "Delete", contact_path(contact), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-sm btn-error" %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
<% end %>
<div class="mt-4">
  <%= link_to "Create a new contact list", new_contact_path, class: "btn btn-neutral" %>
</div>