<%= turbo_frame_tag "modal_form_content" do %>
  <%= form_with url: parse_csv_contact_subscribers_path,
                data: { controller: "mapping", action: "mapping#submit" } do |form| %>
    <section>
      <h2 class="font-bold">Please select the column in your CSV that contains the email addresses</h2>
      <% @headers.each do |header| %>
        <div class="flex justify-between gap-2 mt-2">
          <div>
            Your CSV column name: <span class="text-error"><%= header %></span>
          </div>
          <div>
            <%= select_tag "column_mapping[#{header}]",
                          options_for_select(@columns),
                          prompt: "Select a Email column",
                          class: "select select-secondary w-8/12" %>
          </div>
        </div>
      <% end %>
    </section>
    <%= form.submit "Import", class: "btn btn-neutral w-full mt-4" %>
  <% end %>
<% end %>
