<div class="p-5">
  <%= turbo_frame_tag "modal_form_content" do %>
    <%= form_with url: parse_csv_campaign_subscribers_path,
                  data: { controller: "mapping", action: "mapping#submit" } do |form| %>
      <div class="grid gap-4 mb-4">
        <% @headers.each do |header| %>
          <div class="flex flex-col">
            <label class="mb-2"><%= header %></label>
            <%= select_tag "column_mapping[#{header}]",
                          options_for_select(@columns),
                          include_blank: true,
                          class: "border rounded-lg p-2" %>
          </div>
        <% end %>
      </div>
      <%= form.submit "Import CSV", 
                     class: "w-full bg-link-water hover:bg-lavender-gray focus:ring-4 focus:outline-none focus:ring-lavender-gray font-medium rounded-lg px-5 py-2.5 text-center" %>
    <% end %>
  <% end %>
</div>