<section>
  <h1 class="text-primary-600 text-xl">List of Subscribers</h1>
  <hr class="h-px my-2 bg-gray-200 border-0">
  <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left text-primary-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3">Email</th>
            <th scope="col" class="px-6 py-3">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @subscribers.each do |subscriber| %>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4"><%= subscriber.email %></th>
              <th scope="row" class="px-6 py-4"><%= link_to "Delete", campaign_subscriber_path(subscriber.campaign, subscriber), data: { turbo_method: :delete } %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  
  <div class="flex items-center justify-center my-4">
    <%== pagy_nav(@pagy) %>
  </div>
  <%= render ModalComponent.new(modalId: "embed-modal",name: "Embed to your site", header: "Embed to your site") do %>
      <div class="p-4 md:p-5 space-y-4">
        <div class="w-full max-w-lg">
            <div class="mb-2 flex justify-between items-center">
                <p class="text-sm font-medium text-gray-900 dark:text-white">Copy Paste this widget to your site:</p>
            </div>
            <div class="relative bg-gray-50 rounded-lg dark:bg-gray-700 p-4 h-64">
                <div class="overflow-scroll max-h-full">
                    <pre>
                      <code id="code-block" class="text-sm text-gray-500 dark:text-gray-400 whitespace-pre">
  &lt;script src=&quot;widget.js&quot;&gt;&lt;/script&gt;
  &lt;div id=&quot;piegon-form&quot;&gt;&lt;/div&gt;
  &lt;script&gt;
    document.addEventListener('DOMContentLoaded', function() {
      initPiegonForm('#piegon-form', {
        api_key: '<%= @api_token %>'
      });
    });
  &lt;/script&gt;
                      </code>
                    </pre>
                </div>
            <div class="absolute top-2 end-2 bg-gray-50 dark:bg-gray-700">
                <button data-copy-to-clipboard-target="code-block" data-copy-to-clipboard-content-type="innerHTML" data-copy-to-clipboard-html-entities="true" class="text-gray-900 dark:text-gray-400 m-0.5 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-600 dark:hover:bg-gray-700 rounded-lg py-2 px-2.5 inline-flex items-center justify-center bg-white border-gray-200 border">
                    <span id="default-message" class="inline-flex items-center">
                        <svg class="w-3 h-3 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                            <path d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z"/>
                        </svg>
                        <span class="text-xs font-semibold">Copy code</span>
                    </span>
                    <span id="success-message" class="hidden inline-flex items-center">
                        <svg class="w-3 h-3 text-blue-700 dark:text-blue-500 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                        </svg>
                        <span class="text-xs font-semibold text-blue-700 dark:text-blue-500">Copied</span>   
                    </span>
                </button>
            </div>
            </div>
        </div>
      </div>
  <% end %>

  <div>
      <%= form_with model: @csv_upload, url: upload_campaign_subscribers_path, class: "p-4 md:p-5" do |form| %>
        <div class="grid gap-4 mb-4">
          <%= form.file_field :csv_file, direct_upload: true %>
        </div>
        <%= form.submit "Upload", class: "w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
      <% end %>
  </div>
  <div>
    <% if @headers.present? %>
    <%= form_with url: parse_csv_campaign_subscribers_path do %>
      <% @headers.each do |header| %>
        <div>
          <label><%= header %></label>
          <%= select_tag "column_mapping[#{header}]",
          options_for_select(@columns),
          include_blank: true %>
        <% end %>
      <%= submit_tag %>
    <% end %>
    <% end %>
  </div>
</section>
