<section>
  <div class="flex items-center justify-between">
    <h1 class="text-primary-600 text-xl">List of Subscribers</h1>
    <%= link_to "Send now/later", prepare_campaign_campaign_path(@campaign), class: "bg-black text-white border p-2 rounded-xl text-sm" %>
  </div>
  <hr class="h-px my-2 bg-gray-200 border-0">
  <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left text-primary-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3">Email</th>
            <th scope="col" class="px-6 py-3">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @subscribers.each do |subscriber| %>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4"><%= subscriber.email %></th>
              <th scope="row" class="px-6 py-4"><%= link_to "Delete", campaign_subscriber_path(subscriber.campaign, subscriber), data: { turbo_method: :delete } %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  
  <div class="flex items-center justify-center my-4">
    <%== pagy_nav(@pagy) %>
  </div>
  <div class="flex gap-2">
  <%= render ModalComponent.new(modalId: "embed-modal", name: "Add widget to your site", header: "Add widget to your site") do %>
      <div class="p-4 md:p-5 space-y-4">
        <%= render ClipboardComponent.new(header: "Copy Paste this widget to your site:") do %>
  &lt;div id=&quot;piegon-form&quot;&gt;&lt;/div&gt;
  &lt;script src=&quot;https://widget-f55.pages.dev/widget-min.js&quot;&gt;&lt;/script&gt;
  &lt;script&gt;
    document.addEventListener('DOMContentLoaded', function() {
      initPiegonForm('#piegon-form', {
        api_key: '<%= @api_token %>'
      });
    });
  &lt;/script&gt;
        <% end %>
      </div>
  <% end %>

  <%= render ModalComponent.new(modalId: "csvUploadModal", name: "Upload CSV", header: "Upload list of your subscribers") do %>
    <%= render "subscribers/csv_upload_modal_content" %>
  <% end %>
  </div>
</section>
