<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
      <h2 class="mb-4 text-xl font-bold text-gray-900">Create campaign</h2>
      <%= form_with model: @campaign do |form| %>
          <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
              <div class="sm:col-span-2">
                <%= form.label :name, class: "block mb-2 font-medium" %>
                <%= form.text_field :name, class: "border border-lavender-gray text-sm rounded-lg focus:ring-lavender-gray focus:border-lavender-gray w-full p-2.5" %>
                <%= @campaign.errors[:name].first if @campaign.errors.any? %>
              </div>
      <%= form.submit "Create campaign", class: "w-full bg-link-water hover:bg-lavender-gray focus:ring-4 focus:outline-hidden focus:ring-lavender-gray font-medium px-5 py-2.5 text-center" %>
    <% end %>
  </div>
</section>
