<% if @email_template.editor == "draganddrop" %>
  <div data-controller="email-editor">
    <div class="flex items-end justify-end gap-1 mb-1">
      <input type="text" 
        placeholder="Enter template name"
        data-email-editor-target="name"
        required
        class="px-2 py-2 text-base font-light focus:ring-primary-600 focus:border-primary-600 rounded-sm">
      <button
        class="px-2 py-2 text-base font-light text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-sm text-center"
        data-action="click->email-editor#saveHtml">Update</button>
    </div>
    <div class="flex items-end justify-end">
      <span class="text-sm text-red-600" data-email-editor-target="error"></span>
    </div>
    <div id="editor" class="h-[700px]" data-template-id="<%= @email_template.id %>"></div>
  </div>
<% else %>
  <section class="bg-white">
    <div>
      <%= form_with model: @email_template do |form| %>
        <div class="flex justify-between">
          <h2 class="mb-4 text-xl text-gray-900">Copy-Paste you html template</h2>
          <div class="flex gap-2">
            <div class="flex flex-col">
              <%= form.text_field :name, class: "bg-gray-50 border border-gray-900 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 w-full p-2.5" %>
              <%= @email_template.errors[:name].first if @email_template.errors.any? %>
            </div>
            <%= form.hidden_field :editor, value: "html" %>
            <%= form.submit "Update", class: "w-32 h-10 rounded-sm text-sm font-medium text-center text-white bg-primary-700" %>
          </div>
        </div>
        <div class="mt-3">
          <%= form.textarea :body, 
              is: "highlighted-code",
              language: "html",
              placeholder: "// start here",
              data: { controller:"color-code" },
              class: "bg-gray-50 border-none w-full h-[87vh] overflow-y-auto resize-none focus:ring-0" %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>