<section>
  <div>
    <%= form_with model: @email_template do |form| %>
      <div class="flex justify-between">
        <legend class="fieldset-legend">WYSIWYG editor</legend>
        <div class="flex gap-2">
          <fieldset class="flex flex-col">
            <%= form.text_field :name, placeholder: "Template name", class: "input" %>
            <%= @email_template.errors[:name].first if @email_template.errors.any? %>
          </fieldset>
          <%= form.hidden_field :editor, value: "html" %>
          <%= form.submit "Submit", class: "btn" %>
        </div>
      </div>
      <div class="w-5xl mt-4">
        <%= form.rich_textarea :body, class: "h-[80vh] overflow-y-auto resize-none" %>
      </div>
    <% end %>
  </div>
</section>