<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col p-4">
    <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
      Open menu
    </label>
    <main>
      <%= render "layouts/confirmation_alert" %>
      <%= yield %>
    </main>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-60 p-4">
      <div class="flex items-center justify-center gap-1 bg-base-200 mb-4">
        <%= image_tag "logo.svg", width: 45, alt: "Piegon" %>
        <span class="font-logo text-xl mt-6">Piegon</span>
      </div>
      <li>
        <%= link_to dashboard_path, class: [active_link(dashboard_path)] do %>
          <%= image_tag "dashboard.svg", alt: "Dashboard" %><span>Dashboard</span>
        <% end %>
      </li>
      <li>
        <%= link_to campaigns_path, class: [active_link(campaigns_path)] do %>
          <%= image_tag "megaphone.svg", alt: "Campaign" %><span>Campaign</span>
        <% end %>
      </li>
      <li>
        <%= link_to contacts_path, class: [active_link(contacts_path)] do %>
          <%= image_tag "contact.svg", alt: "Contact List" %><span>Contact List</span>
        <% end %>
      </li>
      <li>
        <%= link_to domain_verifications_path, class: [active_link(domain_verifications_path)] do %>
          <%= image_tag "at-sign.svg", alt: "Domain" %><span>Domain Verification</span>
        <% end %>
      </li>
      <li>
        <%= link_to email_templates_path, class: [active_link(email_templates_path)] do %>
          <%= image_tag "template.svg", alt: "Template" %><span>Template</span>
        <% end %>
      </li>
      <li>
        <details <%= 'open' if current_page?(profile_accounts_path) || current_page?(billing_accounts_path) || current_page?(mail_settings_path) || controller_name == 'mail_settings' %>>
          <summary>
            <%= image_tag "user.svg", alt: "Account" %><span>Account</span>
          </summary>
          <ul>
            <li><%= link_to "Profile", profile_accounts_path, class: [active_link(profile_accounts_path)] %></li>
            <li><%= link_to "Billing", billing_accounts_path, class: [active_link(billing_accounts_path)] %></li>
            <li><%= link_to "SMTP Setting", mail_settings_path, class: [active_link(mail_settings_path)] %></li>
          </ul>
        </details>
      </li>
      <li>
        <%= link_to tickets_path, class: [active_link(tickets_path)] do %>
          <%= image_tag "help.svg", alt: "Help" %><span>Help</span>
        <% end %>
      </li>
      <li class="mt-auto self-center">
        <div class="tooltip" data-tip="logout">
          <div class="tooltip-content">
            <div>logout</div>
          </div>
          <%= button_to session_path, method: :delete do %>
            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" x2="9" y1="12" y2="12"/></svg></span>
          <% end %>
        </div>  
      </li>
    </ul>
  </div>
</div>
