<!DOCTYPE html>
<html class="scroll-smooth" lang="en">
  <head>
    <title>Piegon - <%= content_for(:title) || "Send marketing email with ease" %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name=”robots” content="index, follow">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="turbo-prefetch" content="false">
    
    <meta name="description" content="Pay once for lifetime email marketing with Piegon. Connect SMTP, launch campaigns, and track results — no monthly fees.">
    <meta name="keywords" content="<%= content_for(:keywords) || "email marketing platform, affordable email marketing, cost-effective email marketing, email marketing for businesses, unlimited email campaigns, mailchimp alternative" %>">
    
    <meta property="og:title" content="Piegon - <%= content_for(:title) || "Send marketing email with ease" %>">
    <meta property="og:description" content="<%= content_for(:description) || "Pay once for lifetime email marketing with Piegon. Connect SMTP, launch campaigns, and track results — no monthly fees." %>">
    <meta property="og:image" content="<%= content_for(:og_image) || request.base_url + '/logo-email.png' %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:type" content="website">
    <meta property="og:logo" content="<%= request.base_url + '/logo-email.png' %>">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Piegon - <%= content_for(:title) || "Send marketing email with ease" %>">
    <meta name="twitter:description" content="<%= content_for(:description) || "Pay once for lifetime email marketing with Piegon. Connect SMTP, launch campaigns, and track results — no monthly fees." %>">
    <meta name="twitter:image" content="<%= content_for(:og_image) || request.base_url + '/logo-email.png' %>">
    
    <link rel="canonical" href="<%= request.original_url %>">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if authenticated? %>
        <%= render 'layouts/sidenav' %>
        <%= render "layouts/flash" %>
    <% else %>
      <%= render "layouts/nav" %>
      <main>
        <%= render "layouts/flash" %>
        <%= yield %>
      </main>
    <% end %>
    
  </body>
</html>
