<section>
  <h1 class="text-2xl font-bold mb-2">Account Settings</h1>
  <hr>
  <div class="flex justify-between my-4">
    <h2 class="text-xl">Update Password</h2>
    <div class="flex mr-32">
      <%= form_with(url: account_update_password_path(Current.user.id), method: :patch) do |form| %>
        <div class="mt-2">
          <%= form.password_field :current_password, placeholder: "Current Password", class: "border border-lavender-gray focus:ring-lavender-gray focus:border-lavender-gray block w-auto p-2.5" %>
        </div>
        <div class="mt-2">
          <%= form.password_field :password, placeholder: "New Password", class: "border border-lavender-gray focus:ring-lavender-gray focus:border-lavender-gray block w-auto p-2.5" %>
        </div>
        <div class="mt-2">
          <%= form.password_field :password_confirmation, placeholder: "Confirm Password", class: "border border-lavender-gray focus:ring-lavender-gray focus:border-lavender-gray block w-auto p-2.5" %>
        </div>
        <div class="mt-2">
          <%= form.submit "Update Password", class: "bg-link-water hover:bg-lavender-gray px-6 py-3" %>
        </div>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="flex justify-between my-4">
    <div>
      <h2 class="text-xl">Upgrade Plan</h2>
      <p class="mt-2">Current plan: <%= Current.user.plan %></p>
      <p class="mt-2">Email limit: <%= Current.user.email_limit%></p>
      <p class="mt-2">Next billing date: <%= Current.user.next_payment_date %></p>
    </div>
    <div class="">
      <div class="flex gap-2">
        <% @products.keys.each do |plan| %>
          <div class="rounded-md p-3 mt-3 <%= Current.user.plan == plan ? 'bg-prim' : 'bg-transparent border-2' %>">
            <%= button_to accounts_path(plan: plan), method: :post, data: { turbo: false }, class: "#{Current.user.plan == plan ? 'opacity-50 cursor-not-allowed' : ''}", disabled: Current.user.plan == plan do %>
              <span class="font-logo"><%= plan.titleize %></span>
              <p><%= number_to_k @products[plan][:email_limit] %> emails/month</p>
              <p><%= number_to_currency @products[plan][:price], precision: 0 %> /month</p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
  <div class="my-4">
    <h2 class="text-xl mb-3">Cancel Subscription</h2>
    <%= button_to "Cancel Subscription", "#", class: "bg-prim px-6 py-3" %>
  </div>
  <hr>
  <div class="my-4">
    <h2 class="text-xl mb-3">Delete Account</h2>
    <%= button_to "Delete Account", "#", class: "bg-red-600 text-white px-6 py-3" %>
  </div>
</section>
